/* Body Attribut */
    body{margin: 1em 0 0 1em; padding: 0;font-family:times; font-size:16px;width:100%; overflow-x:hidden;}
    /* Box attribut */
    #box1{width: 200px; padding: 10px; margin-right: auto; margin-left:auto; text-align: center;}
    #box2{width: 200px; padding: 10px;}
    /* Kolumn attribut */
    #col1{background:#cc99cc;width:35em;padding: 0.5em; border-right: 1px solid #000000;}
    #col1 li{list-style: none; padding: 0.2em 0.1em;}
    #col2{background:#ffccff;width: 12em; float: left; padding: 0.5em; border-right: 1px solid #000000;}
    /* Rubriks attribut */
    h1{font-size: 24px; color:#666633;}
    h2{font-size: 22px; color:#666633;}
    h3{font-size: 20px; color:#666633;}
    h4{font-size: 18px; color:red;}
    /* Foot och Header attribut */
    #footer{clear: both;height:50px;padding-top:50px;background:#cc99cc;width:100%;padding: 1em; solid:#999999;border:1px;}
    #header{solid:#999999;float:center;}
/* Kontainer attribut */
#container ul{width: 12em; margin: 0; padding: 0;solid #ffffff;}
#container li{list-style: none;padding: 0.2em 0.1em;}
#container ul a{text-decoration: none; padding:0; margin:0;}
#container a:link, visited{}
#container a:hover{background: #ffcc66;}
#container{width: 48em;solid #000000; text-align:center;}
/* Navigation attribut */
#navigation ul a{text-decoration: none; padding:0; margin:0;}
#navigation a:link{color:#000000 ;}
#navigation a:visited{color: white;}
#navigation ul{width: 20em; margin: 0; padding: 0; background: #CC99CC; border: 2px solid #ffffff;}
#navigation a{display:block; }
#navigation li{list-style: none; padding: 2em 1em;}
#navigation li:hover{background:#ffcc66; }
#navigation .active{background-color: gray;}
#navigation{width: 20em; border: 1px solid #000000;font-size:24px;}
/* Bild och Video attribut */
img.thumbnail{border: 1px solid white; margin: 3px 3px 3px 3px; float:right;}
.video {position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top:1px; float: right;}
    /* Background:#ffccff; Background aside:#4f7b88; Background:#cc99cc; */
    input[type=checkbox] {
 width: 44px; height: 44px;
 -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
 border: 1px solid #bbb;
}
button[type=submit] {
 -webkit-appearance: none; -moz-appearance: none;
 display: block;
 margin: 1.5em 0;
 font-size: 1em; line-height: 2.5em;
 color: #333;
 font-weight: bold;
 height: 2.5em; width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
 -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}
input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}
input, textarea, select {
   border: 1px solid #555;
   padding: 0.5em;
   font-size: 15px;
   line-height: 1.2em;
   width: 80%;
   background: #fff;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
   -webkit-appearance: none;
   -webkit-box-shadow: 1px 1px 1px #fff;
   -webkit-border-radius: 0.5em;
 }
 legend{
    text-align:left;
    background-color:#000;
    color:#F0F0F0;
    font-size:25px;
    float:left;
    width:100%;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;
}
form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
